.contacts__title {
  font-family: @oswald;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
}

.contacts__description {
  font-family: @lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
