.contacts {
  display: flex;
  min-height: 112px;

  &--grey {
    background-color: @basic-grey;
  }
}

.contacts__title {
  font-family: @oswald;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  width: 139px;
}

.contacts__description {
  width: 139px;
}

.contacts__description-text {
  font-family: @lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}

.contacts__wrapper {
  display: flex;
  align-items: center;
  width: 280px;
  margin: 0 auto;
}
