.main-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  min-height: 65px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
  }
}

.main-header__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 280px;
  min-height: 65px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: @tablet-width) {
    width: 174px;
    margin-top: -6px;
    margin-left: 1px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 7px;
  }
}

.main-header__logo-link {
  display: flex;
  align-items: center;
}

.main-header__logo-image {
  margin-right: 56.66px;

  @media (min-width: @tablet-width) {
    margin: 0;
    width: 174px;
    height: 51.68px;

    &--mobile {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.main-header__logo-button {
  width: 24px;
  height: 18px;
  cursor: pointer;
  background-image: url("../img/mobile/header-menu-button-mobile.svg"), linear-gradient(@white, @white);
  background-repeat: no-repeat;
  background-size: cover;
  border: none;

  &--close {
    background-image: url("../img/mobile/header-menu-button-mobile-close.svg"), linear-gradient(@white, @white);
    width: 18px;
    height: 18px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
  }

  @media (max-width: @mobile-width-only) {
    &--nojs {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}
