@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/lato/Lato-Regular.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2");
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/oswald/oswaldregular.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2");
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/oswald/oswaldmedium.woff") format("woff");
}
.page__body {
  width: 320px;
  margin: 0 auto;
}
.main-nav {
  margin: 0;
  padding: 0;
}
.main-nav__item {
  list-style-type: none;
}
.main-nav__link {
  font-family: "Oswald", Verdana, sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
}
.main-header__logo {
  margin-left: 20px;
  margin-top: 10px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.hero {
  background-image: url("../img/promo-filter-image.png");
  background-repeat: repeat-x;
}
.hero__title {
  font-family: "Oswald", Verdana, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
}
.hero__description {
  font-family: "Oswald", Verdana, sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
}
.hero__button {
  color: #ffffff;
  background-color: #68b738;
}
.button {
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Oswald", Verdana, sans-serif;
  font-weight: 400;
}
.programs__card {
  background-color: #f2f2f2;
}
.programs__card-title {
  font-family: "Oswald", Verdana, sans-serif;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 400;
}
.programs__card-description {
  font-family: "Lato", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
}
.programs__card-link {
  font-family: "Oswald", Verdana, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  font-weight: 400;
}
.advantages__title {
  font-family: "Oswald", Verdana, sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}
.advantages__list {
  list-style-type: none;
}
.advantages__list-text {
  font-family: "Lato", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
}
.example {
  background-color: #eaeaea;
}
.example-text__title {
  font-family: "Oswald", Verdana, sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}
.example-text__description {
  font-family: "Lato", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
.example-card__title {
  font-family: "Oswald", Verdana, sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
}
.example-card__description {
  font-family: "Lato", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}
.example-costs {
  font-family: "Oswald", Verdana, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
.contacts__title {
  font-family: "Oswald", Verdana, sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
}
.contacts__description {
  font-family: "Lato", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.footer {
  background-color: #f2f2f2;
}
.footer__social-icon {
  color: #666666;
}
.html-academy-logo__link {
  text-decoration: none;
}
.html-academy-logo__text {
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 400;
  color: #444444;
}
.html-academy-logo__icon {
  color: #666666;
}
.form-title {
  font-family: "Oswald", Verdana, sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: 400;
}
.form-title-description {
  font-family: "Oswald", Verdana, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-weight: 400;
  text-transform: uppercase;
}
.form-list {
  font-family: "Oswald", Verdana, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.form-list__item-label,
.form-list__item-input {
  color: #444444;
}
.form-list__item-radio-label {
  color: #222222;
}
.form-list__item-checkbox-label {
  color: #000000;
}
.form-list__item-input {
  border: 1px solid #e7e7e7;
}
.form-list__item-input--dark {
  border: 1px solid #cdcdcd;
  text-transform: uppercase;
}
.form-textarea {
  font-family: "Oswald", Verdana, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #e7e7e7;
}
.form__wrapper-title {
  font-family: "Oswald", Verdana, sans-serif;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}
.program-selection-button {
  color: #ffffff;
  background-color: #68b738;
  border: none;
}
.program-selection-text {
  font-family: "Lato", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #000000;
}
.catalog-title {
  font-family: "Oswald", Verdana, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
}
.product__link {
  text-decoration: none;
}
.product__link-title {
  font-family: "Oswald", Verdana, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
}
.catalog-list {
  list-style-type: none;
}
.product-text__item {
  font-family: "Lato", Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
}
.product-last__title {
  font-family: "Oswald", Verdana, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}
.product-button {
  color: #ffffff;
  background-color: #68b738;
  font-size: 16px;
  line-height: 20px;
}
.product-button-last {
  color: #444444;
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 20px;
}
.additional-goods__title {
  font-family: "Oswald", Verdana, sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}
.additional-goods__list-item-title {
  font-family: "Oswald", Verdana, sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}
.additional-goods__list-item-text {
  font-family: "Lato", Arial, sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;
}
.additional-goods__button {
  color: #ffffff;
  background-color: #68b738;
}
.gift {
  background-color: rgba(104, 183, 56, 0.85);
}
.gift__text {
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
}
.social-list {
  list-style-type: none;
}
.social-list__item {
  color: #666666;
}
/*# sourceMappingURL=style.css.map */
