@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/lato/Lato-Regular.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2");
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/oswald/oswaldregular.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2");
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/oswald/oswaldmedium.woff") format("woff");
}
.page {
  height: 100%;
  margin: 0;
}
.page__body {
  min-height: 100%;
  margin: 0;
}
.main-nav {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
.main-nav--closed {
  display: none;
}
@media (min-width: 768px) {
  .main-nav {
    width: 510px;
    min-height: 34px;
  }
}
@media (min-width: 1200px) {
  .main-nav {
    background-color: transparent;
    width: 620px;
  }
}
.main-nav__list {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .main-nav__list {
    flex-direction: row;
  }
}
.main-nav__item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  min-height: 66px;
  border-bottom: 1px solid #e6e6e6;
}
.main-nav__item:first-child {
  border-top: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .main-nav__item:first-child {
    border: none;
  }
}
@media (min-width: 768px) {
  .main-nav__item {
    min-height: 34px;
    border: none;
    justify-content: flex-end;
  }
}
.main-nav__link {
  font-family: "Oswald", Verdana, sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .main-nav__link {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    padding-bottom: 8px;
  }
  .main-nav__link--current {
    padding-top: 2px;
    border-bottom: 2px solid #68b738;
  }
}
@media (min-width: 1200px) {
  .main-nav__link {
    font-size: 20px;
    line-height: 30px;
  }
  .main-nav__link--index {
    color: #ffffff;
  }
  .main-nav__link--current-desktop {
    border-bottom: 2px solid #ffffff;
  }
}
.main-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  min-height: 65px;
}
@media (min-width: 768px) {
  .main-header {
    flex-direction: row;
    justify-content: space-between;
    width: 708px;
  }
}
@media (min-width: 1200px) {
  .main-header {
    width: 1220px;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
  }
  .main-header--index {
    background-image: url("../img/desktop/index-background.png");
    background-repeat: no-repeat;
    background-position: right;
  }
}
.main-header__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 280px;
  min-height: 65px;
}
@media (min-width: 768px) {
  .main-header__logo {
    width: 174px;
  }
}
.main-header__logo-link {
  display: flex;
  align-items: center;
}
.main-header__logo-image {
  margin-right: 56.66px;
}
@media (min-width: 768px) {
  .main-header__logo-image {
    margin-right: 12px;
  }
}
.main-header__logo-button {
  background-color: #ffffff;
  border: none;
}
@media (min-width: 768px) {
  .main-header__logo-button {
    display: none;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.hero {
  background-image: url("../img/promo-filter-image.png");
  background-repeat: repeat-x;
  min-height: 480px;
  margin: 0, auto;
}
@media (min-width: 768px) {
  .hero {
    background-image: url("../img/tablet/hero-background.png");
    background-position: bottom;
    background-repeat: no-repeat;
    min-height: 868px;
  }
}
@media (min-width: 1200px) {
  .hero {
    background-image: none;
    min-height: 550px;
  }
}
.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .hero__wrapper {
    width: 708px;
    align-items: flex-start;
  }
}
@media (min-width: 1200px) {
  .hero__wrapper {
    width: 1220px;
    padding-left: 90px;
  }
}
.hero__title {
  font-family: "Oswald", Verdana, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  margin: 0;
  margin-top: 27px;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    text-align: start;
    margin-top: 62px;
    margin-bottom: 41px;
  }
}
.hero__description {
  font-family: "Oswald", Verdana, sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  margin-bottom: 29px;
}
@media (min-width: 768px) {
  .hero__description {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 49px;
  }
}
.hero__button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #68b738;
  min-width: 280px;
  min-height: 44px;
}
.hero__image {
  margin-bottom: 3px;
}
@media (min-width: 768px) {
  .hero__image {
    display: none;
  }
}
.button {
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Oswald", Verdana, sans-serif;
  font-weight: 400;
}
.map {
  height: 362px;
  width: 320px;
  background-image: url("../img/mobile/map.png");
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .map {
    width: 768px;
    height: 400px;
    background-image: url("../img/tablet/map.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1200px) {
  .map {
    width: 1440px;
    height: 400px;
    background-image: url("../img/desktop/map.png");
    background-repeat: no-repeat;
  }
}
.programs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .programs {
    width: 1220px;
    flex-direction: row;
    justify-content: space-between;
  }
}
.programs__card {
  display: flex;
  flex-direction: column;
  width: 280px;
  background-color: #f2f2f2;
  margin-top: 20px;
  padding-top: 30px;
}
@media (min-width: 768px) {
  .programs__card {
    width: 708px;
  }
}
@media (min-width: 1200px) {
  .programs__card {
    width: 570px;
    min-height: 374px;
  }
}
.programs__card-title {
  font-family: "Oswald", Verdana, sans-serif;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  margin-left: 26px;
}
.programs__card-title--slim::before {
  content: url("../img/mobile/program-slim-icon.svg");
  background-color: #68b738;
  border-radius: 50%;
  background-position: center;
}
@media (min-width: 768px) {
  .programs__card-title--slim::before {
    display: none;
  }
}
@media (min-width: 1200px) {
  .programs__card-title--slim::before {
    display: inline;
  }
}
.programs__card-title--mass::before {
  content: url("../img/mobile/program-mass-icon.svg");
  background-color: #68b738;
  border-radius: 50%;
  background-position: center;
}
@media (min-width: 768px) {
  .programs__card-title--mass::before {
    display: none;
  }
}
@media (min-width: 1200px) {
  .programs__card-title--mass::before {
    display: inline;
  }
}
@media (min-width: 1200px) {
  .programs__card-title {
    font-size: 36px;
    line-height: 36px;
    padding-top: 50px;
    margin-left: 150px;
  }
}
.programs__card-description {
  font-family: "Lato", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  margin: 0;
  margin-left: 20px;
  margin-top: 29px;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .programs__card-description {
    border: none;
    width: 340px;
    position: relative;
  }
  .programs__card-description--slim::after {
    content: url("../img/tablet/program-slim-icon.svg");
    background-color: #68b738;
    border-radius: 50%;
    background-position: center;
    position: absolute;
    bottom: -31px;
    left: 430px;
  }
  .programs__card-description--mass::before {
    content: url("../img/tablet/program-mass-icon.svg");
    background-color: #68b738;
    border-radius: 50%;
    background-position: center;
    position: absolute;
    bottom: -10px;
    left: 375px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .programs__card-description--slim::after {
    display: none;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .programs__card-description--mass::before {
    display: none;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .programs__card-description {
    margin-left: 52px;
    margin-top: 39px;
    width: 457px;
  }
}
@media (min-width: 1200px) {
  .programs__card-description {
    font-size: 16px;
    line-height: 24px;
  }
}
.programs__card-link {
  font-family: "Oswald", Verdana, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  font-weight: 400;
  margin: 0;
  margin-left: 19px;
  margin-top: 19px;
  margin-bottom: 22px;
}
@media (min-width: 1200px) {
  .programs__card-link {
    font-size: 20px;
    line-height: 30px;
    margin-left: 52px;
    margin-top: 27px;
  }
}
.promo {
  margin: 0, auto;
  margin-bottom: 29px;
}
@media (min-width: 768px) {
  .promo {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .promo {
    border-bottom: none;
  }
}
.advantages {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 29px;
}
@media (min-width: 768px) {
  .advantages {
    width: 708px;
  }
}
@media (min-width: 1200px) {
  .advantages {
    width: 1220px;
  }
}
.advantages__title {
  font-family: "Oswald", Verdana, sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .advantages__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 72px;
  }
}
@media (min-width: 1200px) {
  .advantages__title {
    margin-top: 71px;
  }
}
.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .advantages__list {
    min-height: 670px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .advantages__list {
    display: flex;
    justify-content: space-between;
    min-height: 280px;
  }
}
.advantages__list-item {
  display: flex;
}
@media (min-width: 768px) {
  .advantages__list-item {
    flex-direction: column;
    position: relative;
  }
  .advantages__list-item:nth-child(1)::before {
    content: "1";
    position: absolute;
    font-family: "Oswald", Verdana, sans-serif;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
    top: -40px;
    left: 118px;
    z-index: -1;
  }
  .advantages__list-item:nth-child(2)::before {
    content: "2";
    position: absolute;
    font-family: "Oswald", Verdana, sans-serif;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
    top: -40px;
    left: 118px;
    z-index: -1;
  }
  .advantages__list-item:nth-child(3)::before {
    content: "3";
    position: absolute;
    font-family: "Oswald", Verdana, sans-serif;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
    top: -40px;
    left: 118px;
    z-index: -1;
  }
  .advantages__list-item:nth-child(4)::before {
    content: "4";
    position: absolute;
    font-family: "Oswald", Verdana, sans-serif;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
    top: -40px;
    left: 118px;
    z-index: -1;
  }
}
.advantages__list-image {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .advantages__list-image {
    margin: 0;
    margin-bottom: 31px;
  }
}
.advantages__list-text {
  font-family: "Lato", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  margin-left: 20px;
}
@media (min-width: 768px) {
  .advantages__list-text {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
  }
}
.example {
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .example {
    background-color: #ffffff;
  }
}
.example__wrapper {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .example__wrapper {
    width: 100%;
    margin: 0, auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .example__wrapper {
    background-color: #f2f2f2;
    padding-top: 70px;
  }
}
.example__wrapper-desktop {
  width: 100%;
}
@media (min-width: 1200px) {
  .example__wrapper-desktop {
    display: flex;
    justify-content: space-between;
    width: 1220px;
  }
}
.example__wrapper-description {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .example__wrapper-description {
    width: 708px;
  }
}
@media (min-width: 1200px) {
  .example__wrapper-description {
    width: 436px;
    min-height: 317px;
  }
}
.example__wrapper-description-text {
  font-family: "Lato", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .example__wrapper-description-text {
    font-size: 16px;
    line-height: 24px;
    display: block;
    padding: 0;
    margin-bottom: 69px;
    width: 708px;
  }
}
@media (min-width: 1200px) {
  .example__wrapper-description-text {
    width: 436px;
    min-height: 96px;
  }
}
.example-title {
  padding-top: 25px;
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .example-title {
    padding: 0;
    width: 708px;
    margin-top: 43px;
    margin-bottom: 69px;
  }
}
@media (min-width: 1200px) {
  .example-title {
    width: 1220px;
  }
}
.example-title__text {
  font-family: "Oswald", Verdana, sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .example-title__text {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }
}
.example-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.example-card__title {
  font-family: "Oswald", Verdana, sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 7.5px;
  margin-top: 34.5px;
}
@media (min-width: 768px) {
  .example-card__title {
    font-size: 30px;
    line-height: 37px;
    margin-top: 0;
  }
}
.example-card__description {
  text-align: center;
  font-family: "Lato", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
}
@media (min-width: 768px) {
  .example-card__description {
    font-size: 14px;
    line-height: 14px;
    width: 125px;
  }
}
.example-cards {
  margin: 0;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .example-cards {
    width: 260px;
  }
}
@media (min-width: 1200px) {
  .example-cards {
    margin-bottom: 35px;
  }
}
@media (min-width: 768px) {
  .example-cards-wrapper {
    width: 708px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .example-cards-wrapper {
    flex-direction: column;
    align-items: flex-start;
    width: 436px;
  }
}
.cat-slider {
  height: 256px;
}
@media (min-width: 768px) {
  .cat-slider {
    background-color: #eaeaea;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .cat-slider {
    background-color: #f2f2f2;
  }
}
.example-costs {
  margin: 0 auto;
  width: 188px;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .example-costs {
    flex-direction: column;
    align-items: flex-end;
  }
}
@media (min-width: 1200px) {
  .example-costs {
    flex-direction: row;
    margin: 0;
    justify-content: flex-start;
    width: 100%;
  }
}
.example-costs__text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Oswald", Verdana, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .example-costs__text {
    width: 174px;
    font-size: 20px;
    text-align: end;
    margin-top: 0;
    margin-bottom: 9px;
    display: flex;
    justify-content: flex-end;
  }
}
@media (min-width: 1200px) {
  .example-costs__text {
    justify-content: center;
  }
}
.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts--grey {
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .contacts {
    min-height: 199px;
  }
}
@media (min-width: 1200px) {
  .contacts {
    position: relative;
  }
}
.contacts__title {
  font-family: "Oswald", Verdana, sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  width: 139px;
}
@media (min-width: 768px) {
  .contacts__title {
    font-size: 20px;
    line-height: 26px;
    width: 450px;
    margin-left: 70px;
  }
}
.contacts__description {
  width: 139px;
}
@media (min-width: 768px) {
  .contacts__description {
    width: 310px;
  }
}
.contacts__description-text {
  font-family: "Lato", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}
@media (min-width: 768px) {
  .contacts__description-text {
    font-size: 16px;
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
    margin-right: 70px;
  }
}
.contacts__wrapper {
  display: flex;
  align-items: center;
  width: 280px;
  margin: 0 auto;
  min-height: 112px;
}
@media (min-width: 768px) {
  .contacts__wrapper {
    width: 708px;
    justify-content: space-between;
    min-height: 199px;
  }
}
@media (min-width: 1200px) {
  .contacts__wrapper {
    width: 565px;
    min-height: 198px;
    position: absolute;
    top: 120px;
    left: 240px;
    background-color: #ffffff;
  }
}
.footer {
  background-color: #f2f2f2;
  min-height: 236px;
}
@media (min-width: 768px) {
  .footer {
    min-height: 147px;
  }
}
@media (min-width: 1200px) {
  .footer {
    min-height: 169px;
  }
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .footer__wrapper {
    width: 708px;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 56px;
    padding-bottom: 56px;
  }
}
@media (min-width: 1200px) {
  .footer__wrapper {
    width: 1220px;
  }
}
.footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 95px;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .footer__logo {
    border: none;
  }
}
.footer__social-icon {
  color: #666666;
}
.html-academy-logo {
  min-height: 78px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .html-academy-logo {
    gap: 26px;
  }
}
.html-academy-logo__link {
  text-decoration: none;
}
.html-academy-logo__text {
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 400;
  color: #444444;
}
.html-academy-logo__icon {
  color: #666666;
}
.form-title {
  font-family: "Oswald", Verdana, sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: 400;
  width: 320px;
  margin: 0 auto;
  margin-top: 27px;
  margin-bottom: 37px;
}
@media (min-width: 768px) {
  .form-title {
    font-size: 60px;
    line-height: 60px;
    width: 433px;
    min-height: 60px;
    margin: 0;
    margin-top: 30px;
  }
}
.form-title-description {
  font-family: "Oswald", Verdana, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-weight: 400;
  text-transform: uppercase;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 39px;
}
@media (min-width: 768px) {
  .form-title-description {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    margin-top: 54px;
    margin-bottom: 56px;
  }
}
.form-list {
  font-family: "Oswald", Verdana, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .form-list {
    font-size: 20px;
    line-height: 30px;
  }
  .form-list--checkbox {
    width: 631px;
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 42px;
    column-gap: 32px;
  }
}
@media (min-width: 1200px) {
  .form-list--cat {
    width: 570px;
  }
  .form-list--program {
    width: 570px;
  }
  .form-list--contacts {
    width: 1220px;
    display: flex;
    justify-content: space-between;
  }
  .form-list--checkbox {
    width: 1220px;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .form-list__item {
    display: flex;
    align-items: center;
  }
}
.form-list__item-input {
  min-height: 45px;
  margin-bottom: 14px;
  border: 1px solid #e7e7e7;
}
@media (min-width: 768px) {
  .form-list__item-input {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    padding-left: 20px;
  }
}
@media (min-width: 768px) {
  .form-list__item-label {
    margin-right: 13px;
  }
}
.form-list__item-radio {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .form-list__item-radio {
    margin: 0;
    margin-right: 20px;
    margin-bottom: 12px;
    margin-top: 12px;
    margin-left: 27px;
  }
}
.form-list__item-label,
.form-list__item-input {
  color: #444444;
}
.form-list__item-radio-label {
  color: #222222;
}
.form-list__item-checkbox-label {
  color: #000000;
}
.form-list__item-checkbox {
  margin-bottom: 13px;
}
@media (min-width: 768px) {
  .form-list__item-checkbox {
    margin: 0;
    margin-right: 20px;
  }
}
.form-list__item-input--dark {
  border: 1px solid #cdcdcd;
  text-transform: uppercase;
}
.form-textarea {
  font-family: "Oswald", Verdana, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #e7e7e7;
  width: 280px;
  min-height: 150px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 12px;
}
@media (min-width: 768px) {
  .form-textarea {
    font-size: 20px;
    line-height: 30px;
    width: 604px;
    min-height: 174px;
  }
}
@media (min-width: 1200px) {
  .form-textarea {
    width: 1220px;
  }
}
.form {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .form {
    width: 708px;
  }
}
@media (min-width: 1200px) {
  .form {
    width: 1220px;
  }
}
.form__wrapper {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}
.form__wrapper:nth-child(1),
.form__wrapper:nth-child(2) {
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .form__wrapper:nth-child(1),
  .form__wrapper:nth-child(2) {
    border: none;
  }
}
@media (min-width: 768px) {
  .form__wrapper {
    width: 631px;
  }
  .form__wrapper:nth-child(2) {
    width: 630px;
    min-height: 164px;
    border: 1px solid #e7e7e7;
    padding-top: 30px;
  }
}
@media (min-width: 1200px) {
  .form__wrapper-desktop {
    display: flex;
    justify-content: space-between;
  }
}
.form__wrapper-title {
  font-family: "Oswald", Verdana, sans-serif;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .form__wrapper-title {
    font-size: 36px;
    line-height: 36px;
  }
}
.form__input-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
}
@media (min-width: 768px) {
  .form__input-button {
    flex-direction: row;
    width: 631px;
    gap: 64px;
    margin-top: 54px;
  }
}
@media (min-width: 1200px) {
  .form__input-button {
    width: 810px;
    margin-bottom: 82px;
  }
}
.form-container {
  margin: 0 auto;
  width: 280px;
}
@media (min-width: 768px) {
  .form-container {
    width: 631px;
  }
}
@media (min-width: 1200px) {
  .form-container {
    width: 1220px;
  }
}
.program-selection-button {
  color: #ffffff;
  background-color: #68b738;
  border: none;
  width: 280px;
  min-height: 40px;
  margin-bottom: 21px;
}
@media (min-width: 768px) {
  .program-selection-button {
    width: 282px;
    min-height: 52px;
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .program-selection-button {
    width: 568px;
  }
}
.program-selection-text {
  font-family: "Lato", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .program-selection-text {
    font-size: 16px;
  }
}
.catalog {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .catalog {
    width: 708px;
  }
}
@media (min-width: 1200px) {
  .catalog {
    width: 1220px;
  }
}
.catalog-title {
  font-family: "Oswald", Verdana, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
  min-height: 76px;
  margin: 0;
  padding-top: 27px;
  border-bottom: 1px solid #ebebeb;
}
@media (min-width: 768px) {
  .catalog-title {
    font-size: 60px;
    line-height: 60px;
    padding: 0;
    margin-top: 65px;
    margin-bottom: 22px;
    border: none;
  }
}
.product {
  display: flex;
  flex-direction: column;
  min-height: 170px;
  border-bottom: 1px solid #ebebeb;
  margin-top: 19px;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .product {
    position: relative;
    width: 324px;
    min-height: 430px;
    border: none;
    margin: 0;
    gap: 60px;
    margin-top: 141px;
    align-items: center;
  }
  .product:not(:last-child) {
    background-color: #f2f2f2;
  }
  .product:last-child {
    border: 2px solid #f2f2f2;
  }
  .product:nth-child(1)::before {
    content: url("../img/tablet/catalog/chiken500.png");
    position: absolute;
    top: -44px;
  }
  .product:nth-child(2)::before {
    content: url("../img/tablet/catalog/chiken1000.png");
    position: absolute;
    top: -72px;
  }
  .product:nth-child(3)::before {
    content: url("../img/tablet/catalog/fish500.png");
    position: absolute;
    top: -44px;
  }
  .product:nth-child(4)::before {
    content: url("../img/tablet/catalog/fish1000.png");
    position: absolute;
    top: -72px;
  }
  .product:nth-child(5)::before {
    content: url("../img/tablet/catalog/buckwheat500.png");
    position: absolute;
    top: -44px;
  }
  .product:nth-child(6)::before {
    content: url("../img/tablet/catalog/buckwheat1000.png");
    position: absolute;
    top: -72px;
  }
  .product:nth-child(7)::before {
    content: url("../img/tablet/catalog/rice500.png");
    position: absolute;
    top: -44px;
  }
  .product:nth-child(8)::before {
    content: url("../img/tablet/catalog/plus-icon.svg");
    position: absolute;
    top: 50px;
  }
}
@media (min-width: 1200px) {
  .product {
    width: 245px;
    min-height: 431px;
  }
}
.product__details {
  padding-bottom: 9px;
}
@media (min-width: 768px) {
  .product__details {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.product__wrapper {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .product__wrapper {
    flex-direction: column;
    align-items: center;
  }
}
.product__link {
  display: block;
  text-decoration: none;
  width: 76px;
  min-height: 41px;
}
@media (min-width: 768px) {
  .product__link {
    width: 128px;
    text-align: center;
  }
}
.product__image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
}
@media (min-width: 768px) {
  .product__image {
    display: none;
  }
}
.product__description {
  min-height: 44px;
  width: 140px;
}
@media (min-width: 768px) {
  .product__description {
    width: 250px;
  }
}
@media (min-width: 1200px) {
  .product__description {
    width: 169px;
  }
}
.product__link-title {
  font-family: "Oswald", Verdana, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
  margin: 0;
}
@media (min-width: 768px) {
  .product__link-title {
    font-size: 20px;
    line-height: 24px;
    margin-top: 161px;
    margin-bottom: 21px;
  }
}
.catalog-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .catalog-list {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 30px;
  }
}
@media (min-width: 1200px) {
  .catalog-list {
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-gap: 20px;
  }
}
.product-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .product-text {
    margin-bottom: 7px;
    padding-bottom: 9px;
    border-bottom: 1px solid #cdcdcd;
  }
  .product-text--last {
    border: none;
    width: 200px;
    text-align: center;
    margin-bottom: 63px;
  }
}
.product-text__item {
  font-family: "Lato", Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
}
@media (min-width: 768px) {
  .product-text__item {
    font-size: 16px;
  }
}
.product-last__title {
  font-family: "Oswald", Verdana, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .product-last__title {
    margin-top: 161px;
    font-size: 20px;
    line-height: 22px;
    width: 150px;
    text-align: center;
  }
}
.product-last__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #68b738;
  font-size: 16px;
  line-height: 20px;
  min-height: 40px;
  margin-top: 10px;
}
@media (min-width: 768px) {
  .product-button {
    width: 248px;
    min-height: 40px;
    margin-bottom: 39px;
  }
}
@media (min-width: 1200px) {
  .product-button {
    width: 168px;
  }
}
.product-button-last {
  color: #444444;
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 1200px) {
  .additional-gift-wrapper {
    margin: 0 auto;
    width: 1220px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 86px;
  }
}
.additional-goods {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .additional-goods {
    width: 708px;
  }
}
@media (min-width: 1200px) {
  .additional-goods {
    width: 100%;
  }
}
.additional-goods__wrapper {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .additional-goods__wrapper {
    width: 708px;
  }
}
@media (min-width: 1200px) {
  .additional-goods__wrapper {
    width: 895px;
  }
}
.additional-goods__title {
  font-family: "Oswald", Verdana, sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 36px;
  margin: 0;
}
@media (min-width: 768px) {
  .additional-goods__title {
    font-size: 36px;
    line-height: 36px;
    padding: 0;
    margin-top: 68px;
    margin-bottom: 80px;
    border: none;
    margin-left: 39px;
  }
}
.additional-goods__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.additional-goods__list-item {
  border-bottom: 1px solid #ebebeb;
}
@media (min-width: 768px) {
  .additional-goods__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 140px;
    border: 1px solid #cdcdcd;
  }
  .additional-goods__list-item:not(:last-child) {
    border-bottom: none;
  }
}
@media (min-width: 1200px) {
  .additional-goods__list-item {
    flex-direction: row;
    justify-content: space-between;
    min-height: 70px;
    border-right: none;
    border-left: none;
  }
}
.additional-goods__list-item-wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .additional-goods__list-item-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 632px;
  }
}
.additional-goods__list-item-text-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .additional-goods__list-item-text-wrapper {
    justify-content: flex-end;
    width: 223px;
    gap: 50px;
  }
}
@media (min-width: 1200px) {
  .additional-goods__list-item-text-wrapper {
    margin-bottom: 0;
  }
}
.additional-goods__list-item-title {
  font-family: "Oswald", Verdana, sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  margin-top: 13px;
  margin-bottom: 13px;
}
@media (min-width: 768px) {
  .additional-goods__list-item-title {
    font-size: 20px;
    line-height: 20px;
  }
}
.additional-goods__list-item-text {
  font-family: "Lato", Arial, sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;
}
@media (min-width: 768px) {
  .additional-goods__list-item-text {
    font-size: 16px;
    line-height: 20px;
  }
}
.additional-goods__button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #68b738;
  width: 280px;
  min-height: 40px;
  margin-bottom: 19px;
}
@media (min-width: 768px) {
  .additional-goods__button {
    width: 632px;
    min-height: 39px;
  }
}
@media (min-width: 1200px) {
  .additional-goods__button {
    margin-bottom: 0;
    width: 244px;
    min-height: 40px;
  }
}
.gift {
  width: 320px;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .gift {
    width: 708px;
    min-height: 200px;
  }
}
@media (min-width: 1200px) {
  .gift {
    margin-bottom: 0;
    display: flex;
    flex-direction: row-reverse;
  }
}
.gift__wrapper {
  background-color: rgba(104, 183, 56, 0.85);
  width: 280px;
  min-height: 290px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
@media (min-width: 768px) {
  .gift__wrapper {
    width: 708px;
    min-height: 200px;
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .gift__wrapper {
    flex-direction: column;
    width: 245px;
    min-height: 289px;
    margin: 0;
  }
}
.gift__text {
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 768px) {
  .gift__text {
    text-align: end;
  }
}
@media (min-width: 1200px) {
  .gift__text {
    text-align: center;
  }
}
.social-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 15px;
  min-height: 62px;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .social-list {
    border: none;
  }
}
.social-list__item {
  color: #666666;
}
@media (min-width: 768px) {
  .social-list__item {
    gap: 26px;
  }
}
.main-container {
  margin: 0, auto;
}
/*# sourceMappingURL=style.css.map */
