.advantages {
  width: 320px;
  margin: 0 auto;
}

.advantages__title {
  font-family: @oswald;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.advantages__list {
  list-style-type: none;
}

.advantages__list-text {
  font-family: @lato;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @dark-grey;
}
