.advantages {
  &__title {
    font-family: @oswald;
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
  }

  &__list {
    list-style-type: none;
  }

  &__list-text {
    font-family: @lato;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: @dark-grey;
  }
}
