.cat-slider {
  height: 256px;

  @media (min-width: @tablet-width) {
    background-color: #eaeaea;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    background-color: @basic-grey;
  }
}
