.example-text {
  padding-top: 25px;

  @media (min-width: @tablet-width) {
    padding: 0;
    width: 708px;
    margin-top: 43px;
    margin-bottom: 69px;
  }
}

.example-text__title {
  font-family: @oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: @black;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }
}

.example-text__description {
  font-family: @lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @dark-grey;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
