.form-list {
  font-family: @oswald;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  list-style: none;
  margin: 0;
  padding: 0;
}

.form-list__item-input {
  min-height: 45px;
  margin-bottom: 14px;
  border: 1px solid #e7e7e7;
}

.form-list__item-radio {
  margin-bottom: 25px;
}

.form-list__item-label,
.form-list__item-input {
  color: @dark-grey;
}

.form-list__item-radio-label {
  color: @dark-grey3;
}

.form-list__item-checkbox-label {
  color: @black;
}

.form-list__item-checkbox {
  margin-bottom: 13px;
}

.form-list__item-input--dark {
  border: 1px solid @grey;
  text-transform: uppercase;
}
