.additional-gift-wrapper {
  margin-top: 24px;

  @media (min-width: @tablet-width) {
    margin-top: -4px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    width: 1220px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 89px;
  }
}
