.gift {
  width: 320px;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    width: 708px;
    min-height: 200px;
  }
}

.gift__wrapper {
  background-color: rgba(104, 183, 56, 0.85);
  width: 280px;
  min-height: 290px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  @media (min-width: @tablet-width) {
    width: 708px;
    min-height: 200px;
    display: flex;
    flex-direction: row;
  }
}

.gift__text {
  font-family: @lato;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @white;
  text-align: center;

  @media (min-width: @tablet-width) {
    text-align: end;
  }
}
