.product {
  display: flex;
  flex-direction: column;
  min-height: 170px;
  border-bottom: 1px solid @basic-grey2;
  margin-top: 19px;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    position: relative;
    width: 324px;
    min-height: 430px;
    border: none;
    margin: 0;
    gap: 60px;
    margin-top: 141px;
    align-items: center;

    &:not(:last-child) {
      background-color: @basic-grey;
    }

    &:last-child {
      border: 2px solid @basic-grey;
    }

    // &:nth-child(1)::before {
    //   content: url("../img/tablet/catalog/chiken500.png");
    //   position: absolute;
    //   top: -44px;
    // }

    // &:nth-child(2)::before {
    //   content: url("../img/tablet/catalog/chiken1000.png");
    //   position: absolute;
    //   top: -72px;
    // }

    // &:nth-child(3)::before {
    //   content: url("../img/tablet/catalog/fish500.png");
    //   position: absolute;
    //   top: -44px;
    // }

    // &:nth-child(4)::before {
    //   content: url("../img/tablet/catalog/fish1000.png");
    //   position: absolute;
    //   top: -72px;
    // }

    // &:nth-child(5)::before {
    //   content: url("../img/tablet/catalog/buckwheat500.png");
    //   position: absolute;
    //   top: -44px;
    // }

    // &:nth-child(6)::before {
    //   content: url("../img/tablet/catalog/buckwheat1000.png");
    //   position: absolute;
    //   top: -72px;
    // }

    // &:nth-child(7)::before {
    //   content: url("../img/tablet/catalog/rice500.png");
    //   position: absolute;
    //   top: -44px;
    // }

    &:nth-child(8)::before {
      content: url("../img/tablet/catalog/plus-icon.svg");
      position: absolute;
      top: 50px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    min-height: 431px;
  }
}

.product__details {
  padding-bottom: 9px;

  @media (min-width: @tablet-width) {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.product__wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    align-items: center;
  }
}

.product__link {
  display: block;
  text-decoration: none;
  width: 76px;
  min-height: 41px;

  @media (min-width: @tablet-width) {
    width: 128px;
    text-align: center;
  }
}

.product__image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: -40px;
  }
}

.product__description {
  min-height: 44px;
  width: 140px;

  @media (min-width: @tablet-width) {
    width: 250px;
  }

  @media (min-width: @desktop-width) {
    width: 169px;
  }
}

.product__link-title {
  font-family: @oswald;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @dark-grey3;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin-top: 161px;
    margin-bottom: 21px;
  }
}
